*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
/* 1. từ ngoài vào trong
2. Từ trên xuống dưới
3. Từ tổng quan đến chi tiết
 */
/* 1. vị trí 
2. kích thước
3. màu sắc 
4. hình dáng (màu sắc, hình thái
 */
 /* common */    
 .pd-r{
     padding-right: 5px;
 }   
 .text-white{
     color: #fff  !important;
 }
 .mt-8{
    margin-top: 16px !important;
}
.mt-16{
    margin-top: 16px !important;
}
.mt-32{
    margin-top: 32px !important;
}
 .clear{
     clear:both;
 }
 .row{
     margin-top: -8px;
     margin-bottom: -8px
 }
 .row::after{
     content: "";
     display: block;
     clear: both;
 }
 .col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
 }
 .col-third{
     width: calc(100%/3);
 }
 
 .col-half{
     width: 50%;
 }
 .col-full{
    width: 100%;
}
 .text-center{
     text-align: center !important;
 }
 .send{
    color:#fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display:inline-block;
    margin-top: 15px;
    border: none;
    appearance: none;
    -webkit-appearance: none;

 }
 .send:hover{
    cursor: pointer;
    color: #000;
    background-color: #ccc;
 }

 .btn {
     font-size: 15px;
    color:#fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display:inline-block;
    margin-top: 15px;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    width:100%;
    }
.btn:hover{
        cursor: pointer;
        color: #000;
        background-color: #ccc;
 }
 /* Main */
 /* header */
#header{
    height: 46px    ;
    background-color: #000;
    position: fixed;
    top:0;
    left: 0;
    right:0;
    z-index: 1;
}
#nav{
    display: inline-block;
}

#nav >li{
    display: inline-block;
}
#nav li{
  
    position: relative;
}
#nav> li> a{
    text-transform:uppercase;
    color: #fff;
}

#nav li a{
text-decoration: none;
line-height: 46px;
display: block;
padding: 0 24px;
}
#nav li:hover .subnav{
    display: block;
}

#nav >li:hover,
#nav .subnav li:hover {
color: #000; 
background-color: #ccc  ;
}
#nav .subnav{
   display: none; 
   min-width: 160px;
    list-style-type: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#nav .subnav a{
    padding: 0 12px;
    line-height: 38px;
    color:#000;
}
.icon-more{ 
    font-size: 12px;
}
#header .mobile-menu-btn{
    position: absolute;
    top:0;
    right: 0;
    display: none;
}
#header .mobile-menu-btn,
#header .search-btn{
    float:right;
    padding: 0 21px;
}
#header .search-btn:hover{
    cursor:pointer;
    background-color: #f44336;
}
#header .mobile-menu-btn:hover .menu-icon{
color: #000;
}
#header .mobile-menu-btn:hover{
    background-color: #ccc;
}
#header .menu-icon,
#header .search-icon{
    color: #fff;
    font-size: 15px;
    line-height: 46px;
}
/* end header */

/* slider */
#slider{
position: relative;
 margin-top: 46px;
padding-top: 50%;
 background:url('../img/slider1/viewlanmart81.jpg') top center / cover no-repeat;
}
#slider .text-content{
position: absolute;
bottom: 47px;
right: -7px;
color: #fff;
width: 100%;
text-align: center;
}

#slider .text-heading{
font-weight: 500;
font-size: 24px;
}

#slider .text-descripton{
font-size: 15px;
margin-top: 25px;
text-shadow: 0 0 4px #000;
}
/* end slider */

/* content */
.member1 a{
    text-decoration: none;
    opacity: 0.7;
    color: blue;
}
.member1 a:hover{
    color: red;

}
#content .content-section {
    padding: 64px 0 112px;
    width: 800px;
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}
#content .section-heading{
    font-size: 45px;
    font-weight: 500;
    letter-spacing: 4px;
    text-align: center;
}
#content .section-sub-heading{
    font-size: 20px;
    text-align: center;
    padding-bottom: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
    color: #000;
}
#content .about-text{
    font-size: 17px;
    margin-top: 50px;
   
    text-align: justify;    
    line-height: 1.5;
}
#content .member-list{
    margin-top: 32px;
}
#content .member-name{
    font-style: italic;
    font-size: 18px;
}

#content .member-img{
    width: 230px;
    margin-top: 15px;
    border-radius: 4px;
}
/* end content */

/* tour section */
.tour-section  {
   background: #000;
}
.tickets-list{
    background-color: #fff;
    margin-top: 40px;
    list-style: none;

}
.tickets-list li {
    color: #757577;
    font-size: 18px;
    padding: 11px 16px;
    border: 1px solid #ddd  ;
}
.tickets-list .solo-out{
    background: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}
.tickets-list .quantily{
float:right;
width: 22px;
height: 24px;
background-color: #000;
color:#fff;
border-radius: 50%;
text-align: center;
line-height: 24px;
margin-top: -3px;
}
/* end tour */

/* place */
.place-list{
margin-top: 16px;
}
.place-img{
    width: 100%;
    display: block;
    
}
.place-img:hover{
    opacity: 0.6;
}
.place-body{
padding: 16px;
background-color: #fff;
font-size: 15px;
}
.place-heading{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}
.place-time{
    text-align: center;
    margin-top: 15px;
    color: #757577;
}
.place-des{
    font-size: 17px;
    margin-top: 15px;
    line-height: 1.4;
}
/* end place */

/* contact form */
.contact-content{
    margin-top: 48px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.5;
}
.contact-info i [class*="ti-"]{
    width:30px;
    display: inline-block;
}
.contact-info a{
    text-decoration:none;
    padding-left:  5px;
}
.contact-info a:hover{
    color: red;
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
.send{
   margin-right: 9px;
    float: right;
}
/* end contact-form */

/* video */
.line{
    margin-top: 112px;
}
.content-video{
    margin-top: 112px;
    margin-bottom: 112px;
    text-align: center;
}
.video-saigon{
    width: 100%;
}

/* video */
/* map */
.map-selection img{
    width: 100%;
}
/* footer section */
#footer{
padding: 64px 16px;
text-align: center;
}
.socials-list{
    font-size: 40px;
}
.socials-list a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    opacity: 0.6;
}
.socials-list a:hover{
    opacity: 1;
}
.coppyright{
    color: rgba(0, 0, 0, 0.6);
    margin-top: 15px;
}
.coppyright a{
    color: rgba(0, 0, 0, 0.6);
}
.coppyright a:hover{
    color: red;
}
/* end footer */

/* jascrip-madal */
.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
}
.modal.open{
display: flex;
}
.modal-container{
    background-color: #fff;
    width: 900px;
    max-width:calc(100% - 32px) ;
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 1s;
}
.modal-header {
    background: rgb(99, 99, 228);
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.modal-heading-icon{
    margin-right: 16px;
}
.modal-close:hover {
    background-color: red;
}
.modal-close {
    position: absolute;
    right: 0;
    top: 0px;
    color: #fff;
    padding: 12px;
    cursor: pointer;
}
.modal-body{
    padding: 16px;
}
.modal-label{ 
    display: block;
    font-size: 15px;
    
}
.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}
#buy-tickets:hover{
    background-color: #ccc;
}
#buy-tickets{
    height: 54px;
    background-color: rgb(99, 99, 228);
    display: block;
   width: 100%;
   border: none;
   font-size: 15px;
   text-transform: uppercase;
   color: #fff;
}
.modal-footer{
   text-align: right;
   margin: 15px;
  
}
.modal-footer a{
    color: #2196F3;
}
@keyframes modalFadeIn {
    from{
        opacity: 0;
        transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
#main{
    overflow: hidden;
}